<?xml version="1.0"?>
<configuration>
	<!-- $Filename: D:\Inetpub\wwwroot\TimeRep\web.config $   $Revision: 1.15 $ -->
	<appSettings>
		<!--
			The settings in this section need to be customised for the users installation.
			This only needs to happen once, when the TimeRep system is being set up for the
			first time.
		-->
		<!--
			The AdminUserName and AdminPassword definitions define the system administrators
			logon details. This logon has special privileges required for setting up the
			system, and is effectively a superuser.
			
			However, the system administrator should not attempt to enter timesheets. If the
			system administrator is required to submit timesheets they should set up another
			valid user for that purpose.
		-->
		<add key="AdminUserName" value="admin"/>
		<add key="AdminPassword" value="admin"/>
		<!--
			The AdminEmail email address is used to send messages to/from the system
			administrator.
		-->
		<add key="AdminEmail" value="GRichards@stfm.org"/>
		<!--
			The ConnectionString value defines the connection to the Timesheet database. Make sure
			to replace the following details with information about your installation:
					 
				SERVER_NAME		:	Name (or IP address) of server where SQL Server 2005 is installed.
				DATABASE_NAME	:	Name of SQL Server database (usually TimeRep).
				DB_USER_NAME	:	SQL Server user name to access the TimeRep database.
				DB_PASSWORD		:	SQL Server password to access the TimeRep database.
		-->
    <add key="ConnectionString" value="server=GIL-PC\SQLEXPRESS;database=Chronos;uid=TimeRep;password=TimeRep;Trusted_Connection=False;"/>
    <!--<add key="ConnectionString" value="Server=chronosdb.db.9498653.hostedresource.com;Database=ChronosDB;User ID=ChronosDB;Password=AdminPass1;Trusted_Connection=False;"/>-->
    <!--
			The PasswordRegExp string defines a regular expression to be used for ensuring that a users
			password meets certain criteris. The example expression shown below requires the user to set
			a password that meets the following conditions:
					 
					- At least 6 characters long
					- Letters, digits, underscores and hyphens only
					- Must contain at least one uppercase, one lowercase, and one digit
								   
			If you do not wish to use this feature either delete the key, or set the value to an empty
			string (""). That will turn off password complexity checking.
		-->
		<add key="PasswordRegExp" value="\A(?=[-_a-zA-Z0-9]*?[A-Z])(?=[-_a-zA-Z0-9]*?[a-z])(?=[-_a-zA-Z0-9]*?[0-9])[-_a-zA-Z0-9]{6,}\z"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpHandlers>
			<add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory, System.Web, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</httpHandlers>
		<trust level="Full" originUrl=""/>
		<httpModules>
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
			<add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
			<add name="PassportAuthentication" type="System.Web.Security.PassportAuthenticationModule"/>
			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"/>
			<add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule"/>
		</httpModules>
		<pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false"/>
		<customErrors mode="Off"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<trace enabled="false" pageOutput="true"/>
    <authentication mode="Forms">
			<forms name="Login" loginUrl="Login.aspx" protection="All" timeout="10"/>
		</authentication>
    <authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
	<location path="Submit.asmx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Test.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="About.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Contact.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="StyleSheet.css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images/Header.gif">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images/InterfaceTechnicalTraining.gif">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images/ZedGraph.gif">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images/CodeProject.gif">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images/PayPal.gif">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Images/GNU.png">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="PayPal.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
